[Desktop Entry]
Type=Application
Name=GPScan Viewer
Exec=gpscan_viewer
Icon=gpscan_viewer
Categories=Utility;Visualization;
Terminal=false
StartupNotify=true
